.filterElement {
    color: #ffff;
    width: 100%;
    border-top: 1px solid #fcc9b1b8;
    border-bottom: 1px solid #fcc9b1b8;
    padding: 1rem 3rem 1rem 3rem;
}


.filterLinks {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    list-style: none;
}

.filterLinks li{
    text-decoration: none;
}


.filterLinks li:hover, p:hover{
    cursor: pointer;
    color: #ffffffb7;
    transition: all 0.3s;
}

.sortOptions {
    display: flex;
    gap: 12px;
    font-size: 1.5rem;
}

.sortOptions p{
    border-right: 1px solid #fff;
    padding-right: 12px;
}

.sortOptions p:last-of-type{
    border-right: 0px;
}



.sortSec {
    display: flex;
    align-items: center;
    gap: 3rem;
}