.notification {
    position: absolute;
    top: 10%;
    left: 40%;
    background-color: rgba(0, 0, 0, 0.932);
    color: #fff;
    border-radius: 6px;
    padding: 4rem 2rem;
    width: 42rem;
    z-index: 10;
    font-size: 1.4rem;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0px 0px 12px 2px #fcc9b1b8;
}


.errNotify{
    box-shadow: 0px 0px 12px 2px #ff4747b8 !important;
}

.greenNotify{
    box-shadow: 0px 0px 12px 2px #8aff47b8 !important;
}

.singleNotify{
    box-shadow: 0px 0px 12px 2px #fcc9b1b8 !important;
}