.description {
    color: #adadadfe;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 3rem;
    border: 1px solid #fcc3194d;
    height: 70vh;
    border-radius: 6px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.mainDescriptionText {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.description h1{
    font-size: 3rem;
}


.detailsBtnGr {
    display: flex;
    gap: 12px;
    align-self: center;
    align-items: end;
}

.detailsBtnGr button{
    padding: 1rem 2rem;
    /* height: 4rem; */
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #333;
    font-size: 2rem;
    background-color: #fcc419;
    border: none;
    border-radius: 6px;
    transition: all 0.3s;
}


.detailsBtnGr button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px #fcc9b1b8;
    background-color: #fcc319e1;

}

.detailQuantity {
    display: flex;
    align-items: center;
    gap: 2rem;    
}



.detailQuantity {
    border: none;
    background: none;
}

.detailQuantity i:hover {
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px #fcc9b1b8;
    background-color: #fcc319e1;
}