.navigation {
    box-shadow: 0px 2px 12px 2px #fcc9b1b8;
    margin: 0;
    padding: 2rem;
    margin-bottom: 4%;
}


.list {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    align-items: center
}

.navLinkElements {
    justify-self: flex-start;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 3rem;
    width: 100%;
}


.navLink {
    text-decoration: none;
    color: #ffff;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 1px;
}


.navLink:hover,
.navLink:active,
.navLink.active {
    box-shadow: 0px 2px 0px 0px #ffffffb7;
    color: #ffffffb7;
    transition: all 0.3s;
    cursor: pointer;
}

.cartItem{
    position: relative;
}

.cartNum{
    position: absolute;
    font-size: 1.2rem !important;
    background-color: #fcc319e1;
    border-radius: 50%;
    color: #333 !important;
    font-weight: bold;
    letter-spacing: 0px !important;
    width: 19px;
    height: 19px;
    top: -8px;
    right: -18px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cartNum:hover{
    box-shadow: none !important;
    transition: all 0.3s;
    cursor: default;
}