* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* *:focus {
    outline: none;
    box-shadow: 0 0 0 8px rgba(230, 125, 34, 0.5);
  } */
  
  html {
    font-size: 62.5%;
    /* overflow-x: hidden; */
  }
  
  body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #555;
    overflow-x: hidden;
    /* color: #555; */
  }

  .loader {
    margin: 0 auto;
    margin-top: 20%;
    height: 15px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(farthest-side,#ffffff 90%,#dadada00);
    background: 
      var(--_g) left, 
      var(--_g) right;
    background-size: 25% 100%;
    display: grid;
  }
  .loader:before,
  .loader:after {
    content: "";
    height: inherit;
    aspect-ratio: 1;
    grid-area: 1/1;
    margin: auto;
    border-radius: 50%;
    transform-origin: -100% 50%;
    background: #ffffff;
    animation: l49 1s infinite linear;
  }
  .loader:after {
    transform-origin: 200% 50%;
    --s:-1;
    animation-delay: -.5s;
  }
  
  @keyframes l49 {
    58%,
    100% {transform: rotate(calc(var(--s,1)*1turn))}
  }