* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* *:focus {
    outline: none;
    box-shadow: 0 0 0 8px rgba(230, 125, 34, 0.5);
  } */
  
  html {
    font-size: 62.5%;
    /* overflow-x: hidden; */
  }
  
  body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #555;
    overflow-x: hidden;
    /* color: #555; */
  }

 


  .defaultBtn{
    padding: 1rem 2rem;
    /* height: 4rem; */
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #333;
    font-size: 2rem;
    background-color: #fcc419;
    border: none;
    border-radius: 6px;
    transition: all 0.3s;
}


.defaultBtn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px #fcc9b1b8;
    background-color: #fcc319e1;

}
  
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  transition: all 0.3s;
  border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  transition: all 0.3s;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  cursor: pointer;
}



