.orderContainer {
    width: 60%;
    background-color: #0000004d;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 4%;
    color: #fff;
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 6px;
    gap:6rem;
}

.headerOrder{
    align-self: center;
    text-align: center;
    padding: 2rem;
    letter-spacing: 1px;
    border-bottom: 1px solid #ffffff59;
    width: 100%;
}

.headerOrder > h1 {
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.headerOrder > h3 {
    color: #ffffffb3;
}

